
.bouton_depôt{
  margin-top: 30px;
  margin-bottom: 30px;
}

.bouton_particulier{
  margin-top: 30px;
  margin-bottom: 30px;
}
.button_back_products{
  margin-top: 60px;
  margin-bottom: 60px;
}
.deposit_buttons{
  text-align: center;
}
