.big_container {
  margin: 40px;
  a {
    text-decoration: none;
  }
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
}

.icone {
  text-align: center;
}

.btn-stripe {
  text-align: center;
}

.show_title{
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #c812bd;
  text-transform: uppercase;
  margin-bottom: auto;
}

.asma-btn {
  color: #c812bd;
  text-decoration: none;
  border: 1px solid #c812bd;
  padding: 10px 28px;
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
 }

.description {
  font-size: 1.4rem;
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
}
