.show_title{
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #c812bd;
  text-transform: uppercase;
  margin-bottom: auto;
  width: 404px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.big_container {
  position: relative;
  margin: 40px;
  a {
    text-decoration: none;
    color: white;
  }
  padding-bottom: 300px;
}

.big_container::before{
  content: "";
  position: absolute;
  background: center;
  background-image: url(https://res.cloudinary.com/dve4ns8fw/image/upload/v1670317494/icone_navbar-JFH_100_rond_ihfjmg.svg);
  opacity: 0.1;
  background-size: 80% auto;
  background-repeat: no-repeat;
  top: 310px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
}

.btn-stripe {
  text-align: center;
}

.asma-btn {
    text-decoration: none;
    background-color: #bfc4cb94;
    padding: 40px 40px;
    border-radius: 100%;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #c812bd;
 }

.description {
  font-size: 1.4rem;
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
}
.asma-btn a{
text-decoration: none;
 color: #c812bd;
 font-weight: bold;
 font-size: 20px;
}
