.show_title{
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #c812bd;
  text-transform: uppercase;
  margin-bottom: auto;
  width: 404px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.big_container {
  margin: 40px;
  a {
    text-decoration: none;
    color: white;
  }
}

.first-row {
  display: flex;
  justify-content: space-evenly;
}

.second-row {
  display: flex;
  justify-content: space-evenly;
}

.btn-stripe {
  text-align: center;
}

.asma-btn {
  text-decoration: none;
  border: 1px solid #4473b1bd;
  background-color: #4473b1bd;
  padding: 20px 40px;
  border-radius: 50%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
