.product_submit {
  display: flex;
  justify-content: center;

}

input[type=submit] {
  color: white;
  background-color: #c812bd;
  border: 1px solid #c812bd;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

input[type=submit]:hover {
  opacity: 1;
  color: black;
  border: 0;
}

.row_new{
  text-align: center;
}

.category_label {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

input[type=number]{
  text-align: center;
  border-radius: 30px;
  width: 70px;
  height: 50px;
  border: grey;
  margin-top: 20px;
}

.product_card {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 290px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

#new_title {
  text-align: center;
  background-color: #c812bd;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
