.recap-container {
  text-align: center;
  margin: 20px;
  h2 {
    color: #c812bd;
    margin-bottom: 40px;
  }
}

.recap-cards {
  display: flex;
}

.recap-card {
  border: 1px solid #c812bd;
  border-radius: 4px;
  background-color: rgba(200, 18, 189, 0.6);
  color: white;
  height: 240px;
  margin-bottom: 20px;
  padding: 20px;
}

.recap-card-long {
  display: flex;
  border: 1px solid #c812bd;
  border-radius: 4px;
  background-color: rgba(200, 18, 189, 0.6);
  color: white;
  height: 240px;
  padding: 20px;
  margin-bottom: 40px;
}

.btn-recap {
  color: #c812bd;
  text-decoration: none;
  border: 1px solid #c812bd;
  padding: 10px 28px;
  border-radius: 50px;
  &:hover {
    color: #7a0673;
  }
}
