h3{
  text-align: center;
}
.logo_thank2{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  opacity: 0.3;
}
.logo_thank{
  text-align: center;
  width: 60%;
}
.thank{
  margin-top: 30px;
  text-align: center;
}
.thanks{
  margin-top: 25px;
  margin-bottom: 30px;
}
