
.product_€ img{
  width: 35%;
}

.product_€{
  margin-top: 30px;
  display: inline-flex;
}
.sections{
  text-align: center;
  margin-top: -5px;
}

.bouton_no_financial_gift{
  margin-top: 15px;
  text-align: center;
}

.thank{
  text-align: center;
  background-color: rgba(200, 18, 189, 0.6);
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.sections a{
 text-decoration: none;
 color: #c812bd;
 font-weight: bold;
 font-size: 20px;
}
.asma-btn_suggest{
  text-decoration: none;
  background-color: #bfc4cb94;
  padding: 40px 40px;
  border-radius: 100%;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #c812bd;
}
.justify-text {
    text-align: justify;
    font-size: 18px;
}
.merci_user{
  margin-top: 10px;
  font-size: 32px;
  font-weight: bold;
}
