
.product_€ img{
  width: 35%;
}

.product_€{
  margin-top: 30px;
  display: inline-flex;
}
.sections{
  text-align: center;
  margin-top: -5px;
}

.bouton_no_financial_gift{
  margin-top: 15px;
  text-align: center;
}

.thank{
  text-align: center;
  background-color: rgba(200, 18, 189, 0.6);
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.description{
  padding-top: 20px;
  padding-left: 10px;
}
#suggest_€{
  margin-top: 30px;
}
.suggest_€ a{
  text-decoration: none;
}
.suggest_€{
  margin: -24px;
}
