.thank_texts{
  text-align: center;
}

.bouton_no_financial_gift{
  text-align: center;
}

.label_5{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.financial_suggestion_text {
  text-align: center;
}

.p5 {
  margin-top: 15px;
}

.input-group-text {
  border-radius: 30%;
}
