<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="home_title">Just For Her</h1>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_1_dcwkgu.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_2_kdaals.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_3_qfupd9.jpg" alt="Third slide">
    </div>
  </div>
</div>

      <p class="p_home">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eaque accusamus, voluptas, nam tempore qui dolore porro, a deserunt iste alias
      omnis animi inventore laboriosam magnam dolor eum voluptate architecto.
      </p>


      <div class="buttons">
        <div class="bouton_materiel">
          <%= link_to "Products donation", new_donation_path , class: "btn btn-ghost" %>
        </div>
        <div class="bouton_financier">
          <%= link_to "Financial donation", financial_show_path, class: "btn btn-ghost" %>
        </div>
      </div>
  </div>
</div>
