<title><%=@title= "Qui nous sommes JUST For Her" %> </title>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <h1 class="titre_qui_nous_sommes">Qui nous sommes</h1>
      <div class="container-background">
          <div class="texte_qui_nous_sommes">
            <p>La précarité menstruelle constitue un véritable enjeu de santé publique.
            Le nombre de femmes qui en souffrent ne cesse de croître, et
            reste encore à ce jour un sujet tabou dans notre société <br>
            <br>
            Le manque d'accès aux produits hygiéniques de base favorise un sentiment d'exclusion, ou de honte et altère
            significativement la confiance de ces femmes.<br><br>
            Just for her est une plateforme qui leur permet de palier à ce manque en toute
            confidentialité, et permet à celles et ceux qui souhaitent aider
            ces femmes, d'y participer activement.<br><br>
            L'application Just for her dispose d'un réseau associatif et solidaire capable de
            couvrir toutes les zones géographiques nécessaires. </p>
          </div>
        </div>
    </div>
  </div>
</div>
