
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">


      <div id="Portrait_banner">
        <img id="regard_deposit" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_5_fzumce.jpg"/>
      </div>


      <h1 id="deposit_title"> Comment je donne ? </h1>




        <ul class="deposit_buttons">
          <div class="bouton_depôt">
            <%= link_to "Confier à un point de dépôt", donation_select_warehouse_path(@donation), class: "btn btn-ghost" %>
          </div>
          <div class="bouton_particulier">
            <%= link_to "Remettre à un particulier", donation_select_warehouse_path(@donation), class: "btn btn-ghost" %>

          </div>
          <div class= "button_back_products">

            <%= link_to "Retour aux produits", new_donation_path + "?donation_id=#{@donation.id}", class: "btn btn-ghost" %>

          </div>
        </ul>
    </div>
  </div>
</div>
