
<h1 class="show_title">Financial donation</h1>

 <div class ="big_container">
 <div>
  <section>
    <div class="product">
      <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="The cover of Stubborn Attachments" />
      <div class="description">
        <h3>Faites un don de 5€</h3>
      </div>

    </div>
    <form action="/create-checkout-session" method="POST">
      <button type="submit" id="checkout-button">payer</button>
    </form>
  </section>
 </div>
 <div>
  <section>
    <div class="product">
      <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="The cover of Stubborn Attachments" />
      <div class="description">
        <h3>Faites un don de 10€</h3>
      </div>

    </div>
    <form action="/create-checkout-session" method="POST">
      <button type="submit" id="checkout-button">payer</button>
    </form>
    </section>
 </div>
 <div>
    <section>
    <div class="product">
      <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="The cover of Stubborn Attachments" />
      <div class="description">
        <h3>Faites un don de 20€</h3>
      </div>

    </div>
    <form action="/create-checkout-session" method="POST">
      <button type="submit" id="checkout-button">payer</button>
    </form>
  </section>
 </div>
 </div>
