<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div id="Portrait_banner">
        <img id="regard_deposit" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888098/Regard_6_sc4u2r.jpg"/>
      </div>
      <div class="success_thank">
        <h2 class="thanks">Merci <%= current_user.first_name %>!</h2>
          <p class="justify-text margin-r-l"> Grâce à vous, depuis le 21 août, nous avons distribué 320 produits. Soit au total 305 femmes aidées.</p>
      </div>
      <div class="logo_thank2">
        <img class="logo_thank" src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1670317494/icone_navbar-JFH_100_rond_ihfjmg.svg" alt="logo">
      </div>
    </div>
  </div>
</div>
