<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">

      <div class="thank">
        <p>Merci <%= current_user.first_name %>!
          Grâce à vous, depuis le 21 novembre, nous avons aidé 150 femmes. Soit au total 320 produits distribués.</p>
        <div id="suggest_€">
          <p>Vous pouvez également contribuer financièrement en soumettant votre don directement sur la plateforme:</p>
        </div>
      </div>
      <div class="bouton_no_financial_gift">
        <%= link_to "Pas de contribution financière", success_path , class: "btn btn-ghost" %>
      </div>



      <div>
        <div class="sections">
          <section>
            <div class="product_€">
              <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="Just for her logo" />
              <div class="description">
                <h5>5.00 €</h5>
              </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <button type="submit" id="checkout-button" class= "btn btn-ghost">Donner</button>
            </form>
          </section>
          <section>
            <div class="product_€">
              <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="Just for her logo" />
              <div class="description">
                <h5>10.00 €</h5>
              </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <button type="submit" id="checkout-button" class= "btn btn-ghost">Donner</button>
            </form>
          </section>
          <section>
            <div class="product_€">
              <img src="https://res.cloudinary.com/dve4ns8fw/image/upload/v1669888138/icone_navbar_rond_fzn27c.svg" alt="Just for her logo" />
              <div class="description">
                <h5>20.00 €</h5>
              </div>
            </div>
            <form action="/create-checkout-session" method="POST">
              <button type="submit" id="checkout-button" class= "btn btn-ghost">Donner</button>
            </form>
          </section>
        </div>
    </div>
  </div>
</div>
