.btn-ghost {
  color: white;
  background-color: #c812bd;
  color: white;;
  border: 1px solid #c812bd;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  opacity: 1;
}
.btn-don-mat{
    margin-top: 4px;
    margin-left: -9px;
  }
