.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.info-card a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #900C3F;
  }
}
